:root {
  --desk-color: #2e2f42;
  --text-color: #434455;
}

body {
  font-family: 'roboto', sans-serif;
  color:#FFFFFF ;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

  /* -------------------------HEADER---------------------- */
  .top-header {
  }
  .top-navigation {
  }
  .link-logo {
      font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--desk-color)
  }
  .top-accent {
    color: #4d5ae5;
  }
  .top-list {
  }
  
  .top-items {
  }
  .top-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--desk-color)
  }
  .top-link:hover {
    color: #4d5ae5;
  }
  .top-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
  }
  .top-phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
  }

/* ------------HERO--------------------- */

.hero-title{
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.hero {
background-color: var(--desk-color);
}

.hero-btn {
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

/* -----------------SLOGAN------------------------- */
.slogan {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle-slogan{
font-family: inherit;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
  color: var(--desk-color);
}
.text-slogan{
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  color: var(--text-color);
}


/* -----------------GALERY-------------- */

.galery {
}
.title-galery {
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--desk-color);
}
.list {
}
.galery-photo {
}
/* ------------TEAM------------------- */
.team {
  background-color: #F4F4FD;;
}
.team-subtitle {
  font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--desk-color);
}
.team-list {
}
.list {
}
.team-item {
}
.team-name {
  font-family: inherit;
font-weight: 600;
font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
color: var(--desk-color);
}
.team-prof {
  font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-color);
}

/* -----------FOOTER----------------- */

.footer {
  background-color: var(--desk-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-accent {
  color: #4d5ae5;
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
